2023-Xtreme-Xmas-Code-Maiden-Voyage/Day07-Node-RED/flows.json
[
  {
    "id": "6e437d92aec9fd7d",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4816c943cdd39e1a",
    "type": "function",
    "z": "6e437d92aec9fd7d",
    "name": "parseInput()",
    "func": "const handsData = msg.payload.split('\\n')\nconsole.log(msg.payload);\nconst hands = [];\nfor (let hand of handsData) {\n    hand = hand.split(` `);\n    hand = {\n        cards: hand[0],\n        bid: +hand[1],\n        handType: 0,\n    }\n    hands.push(hand);\n};\nmsg.payload = hands;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 220,
    "wires": [["8c404e12c471eb99", "e022eec83e7ac268"]]
  },
  {
    "id": "d57dc5e0c3924213",
    "type": "inject",
    "z": "6e437d92aec9fd7d",
    "name": "Test Part 1",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Start!",
    "payloadType": "global",
    "x": 80,
    "y": 140,
    "wires": [["72f954038f0b19fe"]]
  },
  {
    "id": "72f954038f0b19fe",
    "type": "template",
    "z": "6e437d92aec9fd7d",
    "name": "Test Input",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "32T3K 765\nT55J5 684\nKK677 28\nKTJJT 220\nQQQJA 483",
    "output": "str",
    "x": 300,
    "y": 140,
    "wires": [["4816c943cdd39e1a"]]
  },
  {
    "id": "8c404e12c471eb99",
    "type": "debug",
    "z": "6e437d92aec9fd7d",
    "name": "Hands",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 640,
    "y": 220,
    "wires": []
  },
  {
    "id": "e022eec83e7ac268",
    "type": "function",
    "z": "6e437d92aec9fd7d",
    "name": "setHandType()",
    "func": "const hands = msg.payload;\n\n// For reference: Hand Types = [1: High Card; 2: One Pair; 3: Two Pair; 4: Three Of A Kind; 5: Full House; 6: Four Of A Kind; 7: Five Of A Kind]\n\nfor (const hand of hands) {\n    const numbersOfCardOccurances = [];\n    for (let card of hand.cards) {\n        numbersOfCardOccurances.push((hand.cards.match(new RegExp(card, \"g\")) || []).length)\n    };\n    numbersOfCardOccurances.sort((a, b) => b - a);\n    let handType = 0;\n    switch (+numbersOfCardOccurances[0]) {\n        case 5:\n            handType = 7;\n            break;\n        case 4:\n            handType = 6;\n            break;\n        case 3:\n            if (numbersOfCardOccurances[3] === 2) {\n                handType = 5;\n            } else {\n                handType = 4;\n            }\n            break;\n        case 2:\n            if (numbersOfCardOccurances[3] === 2) {\n                handType = 3;\n            } else {\n                handType = 2;\n            }\n            break;\n        case 1:\n            handType = 1;\n            break;\n        default:\n            throw new Error(`Hand type unknown. Hand is: ${hand}`)\n    };\n    hand.handType = handType;\n}\n\nmsg.payload = hands;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 300,
    "wires": [["ae453913fba18b7b", "60c42499c0c31d58"]]
  },
  {
    "id": "ae453913fba18b7b",
    "type": "debug",
    "z": "6e437d92aec9fd7d",
    "name": "HandTypes",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 660,
    "y": 300,
    "wires": []
  },
  {
    "id": "60c42499c0c31d58",
    "type": "function",
    "z": "6e437d92aec9fd7d",
    "name": "sortHands()",
    "func": "const hands = msg.payload;\n\nconst cardOrder = `23456789TJQKA`;\n\nhands.sort((a, b) => {\n    let indexOfFirstNonMatchingCard = 0;\n    while (a.cards[indexOfFirstNonMatchingCard] === b.cards[indexOfFirstNonMatchingCard]) {\n        indexOfFirstNonMatchingCard += 1;\n    }\n    return cardOrder.indexOf(a.cards[indexOfFirstNonMatchingCard]) - cardOrder.indexOf(b.cards[indexOfFirstNonMatchingCard])\n});\n\nhands.sort((a, b) => a.handType - b.handType);\n\nmsg.payload = hands;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 380,
    "wires": [["11b73459cc851270", "24de0dc3e6d07a5d"]]
  },
  {
    "id": "11b73459cc851270",
    "type": "debug",
    "z": "6e437d92aec9fd7d",
    "name": "Sorted Hands",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 660,
    "y": 380,
    "wires": []
  },
  {
    "id": "24de0dc3e6d07a5d",
    "type": "function",
    "z": "6e437d92aec9fd7d",
    "name": "calculateWinnings()",
    "func": "const hands = msg.payload;\n\nlet totalWinnings = 0;\n\nlet winningsMultiplier = 1;\n\nfor (const hand of hands) {\n    const handWinnings = hand.bid * winningsMultiplier;\n    totalWinnings += handWinnings\n    winningsMultiplier += 1;\n}\n\nmsg.payload = totalWinnings;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 460,
    "wires": [["5d2a117421024c5c"]]
  },
  {
    "id": "5d2a117421024c5c",
    "type": "debug",
    "z": "6e437d92aec9fd7d",
    "name": "Total Winnings",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 670,
    "y": 460,
    "wires": []
  },
  {
    "id": "d9df39cb8f2fd38f",
    "type": "inject",
    "z": "6e437d92aec9fd7d",
    "name": "Solve Part 1",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Start!",
    "payloadType": "global",
    "x": 90,
    "y": 220,
    "wires": [["3b8c2f5f8b1fa3e4"]]
  },
  {
    "id": "3b8c2f5f8b1fa3e4",
    "type": "template",
    "z": "6e437d92aec9fd7d",
    "name": "Challenge Input",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "467K3 95\nJK5QK 838\n44664 725\n8QAK3 134\n53A3A 945\n7QQJ7 164\nJ8J89 236\n38QAT 166\nQ7944 755\n35333 526\n5J787 482\n4K769 829\n37773 960\nQJ78K 282\n3J39Q 326\nTJ2QQ 255\nJ4338 337\nQK3KK 187\n5K8KQ 380\n93785 500\n795JT 382\nQ399Q 391\n99J99 206\nT5555 716\nQ7Q8Q 990\nQQJJQ 346\n34344 332\nK4J44 763\n2A36T 974\n77757 461\n55446 907\n99JJ9 962\nK29KQ 177\n99666 961\n688KK 249\n5A558 767\nTT6K2 630\n5Q4A4 872\nJTKQ4 969\nA5AAA 421\nJAA4Q 680\n55K69 29\n96ATJ 144\n3Q462 523\n73646 203\n5A96A 550\nK84TQ 4\n7278T 406\nKQQT5 395\n54567 197\nT53TA 355\nAQA99 601\n88KQQ 968\n55J5J 727\n73TJ9 466\n99799 843\n324QQ 36\n84AAA 190\n7J366 511\nJK938 667\nKKQJQ 762\n722J4 110\n9TKT9 84\n33JJ3 458\n6K444 498\n4279T 23\nK5T28 467\n3KKKK 871\nKQAQK 492\n44AKK 865\n5638T 932\nA89AK 24\n29K92 403\nA69K6 596\nKKK84 400\nQA748 616\n55AAA 504\n9255Q 684\n56646 330\n6J6J7 222\nA59J5 370\n3AA4J 940\nK9K38 302\n2AK58 735\n68K4K 422\n95599 324\n8K88J 987\n845Q5 478\n72KQ7 263\n8TJ83 751\n96TTQ 935\nAQ6AQ 445\nQKQQA 321\nA5644 769\nQQ5QJ 801\nAA574 436\n333QQ 605\nJ5982 71\nQT8A5 956\n2Q46A 982\nJ3773 317\n3KK93 485\n3A76A 926\n338JJ 502\n8KAQ6 737\nKKK28 520\n644Q5 850\n2T6TT 397\n34JA7 549\n743J7 747\n34843 103\n6KKKK 204\nQ2J22 548\nJKKKK 995\n42446 704\n8732A 238\nTT9J2 109\n4758T 33\nTTTT7 914\n787J7 647\n59T59 62\n9Q989 985\nT886J 554\n543QJ 75\n77637 857\n8888T 83\n92T52 939\n9832A 620\n3TT39 81\n84353 18\nA8Q8A 824\nT4597 425\nK3635 949\nKAAA2 320\n42224 243\nAA8A3 565\nKK63K 114\nTT3TT 133\n33T77 141\nJ868J 774\n422QT 369\n24T2K 344\nKK3Q3 8\n424J2 967\n8J6J6 666\nK6927 887\n36666 366\n78KT8 867\nAT66T 761\n72AT6 155\n2Q6QQ 440\n64J64 594\nA2JT8 578\nQQAJQ 383\n8Q333 963\n9A22A 503\nK86K6 55\n66899 899\n4744J 210\n72K54 860\nKQKK4 723\n6TK62 607\n9J955 652\nA45A5 766\n4J333 744\n5K555 277\n7777J 657\n7853A 147\n75QQQ 356\nT6T93 818\n8T342 643\n498A7 232\n96A2A 471\nJ55KK 583\nKJ7Q6 849\n36A36 707\n23655 290\nK444K 371\n5858K 688\nKJK8J 258\nQ3699 910\n79T64 864\nKAQ44 536\nT4TJ5 239\n8KK88 589\n42AA4 127\nQQ4Q4 746\nJ9868 472\n95493 170\nJK6T5 428\nKAATA 775\nTK3KT 886\n36633 858\n67767 590\n86A2Q 175\nJ7J7J 659\n7J457 796\n55335 65\n9288A 664\n88899 499\n7TKTA 327\n6QJ36 701\nK7KQK 943\nQQAQ2 681\nQ9948 444\n85923 335\n82832 283\nTQ5QT 92\nTK8A3 191\nA957K 614\n8877T 623\n5JTT9 253\n2K626 248\n757Q7 817\nJJ6T5 827\nKJ796 367\n895AQ 608\nAA666 950\nTT4T2 135\nQQQKK 600\nA9KK9 925\n49AA7 972\n73TAT 60\n5K49Q 74\nAAJ6A 753\n42222 470\nJ99KK 722\nA9AA9 514\n36636 581\n7T5Q9 690\nTTK7K 496\n277J4 665\n782TQ 662\n3AK57 734\n29KJ7 343\n72726 378\n67656 541\n22A29 229\nJJ5AA 336\nQTTJQ 979\nJ73K6 473\n55AK9 19\n46466 610\n8AAK4 408\n27227 181\n55525 214\n444Q4 505\n65K55 506\nKJ84T 529\n82225 250\n59TKA 32\n83J53 178\n599K4 988\n55TTT 759\n59999 431\nT44A4 828\nA888T 874\nJ3533 619\n9979K 981\nKK998 101\n64965 799\n9A999 934\n9A299 942\n5KKKA 862\n4A865 802\n64QQ4 837\nATATA 98\n6TJQ7 807\nK6997 585\n57T5T 457\nJT66T 938\nJJQK9 105\nJJ278 804\nJJ5AQ 661\nQ2597 930\nAAQAQ 31\n5A974 427\nTTQQK 868\n7KT7T 730\nK4999 112\nA8KAQ 672\n6AQQ6 447\n32J32 297\n4QA2J 915\nT2Q3Q 712\n34KQT 121\n98379 617\n487QK 44\n55TAJ 909\n6686T 28\n22922 805\nT846A 556\nJ5A6A 399\n55Q55 347\n8488J 593\nJKKTT 708\n8288J 768\nJKK66 1\n22999 586\n85398 334\n77KK6 782\nK34JJ 674\n39K4K 653\nQA6K3 720\n78878 715\nQA9Q4 745\n3333J 226\n3TT32 686\n44999 401\nA2J32 531\nQ65A9 905\nJ6AA7 194\n8J888 163\n7JT74 624\nJKKAK 568\n239J2 919\nAA4AA 52\n222JJ 184\n546AQ 894\nK2KK9 631\n45TQ2 375\nTTTT2 146\n26Q77 989\n9866K 851\nT3332 292\n66469 758\n48J48 889\n4A4QA 185\nJ6626 68\n46T4A 660\n83T52 151\n7T7T7 407\n73758 479\n63A44 291\n66QT6 875\n6645J 738\n94Q97 638\nT5KT5 411\nTJ3J3 866\nQT6TQ 842\nA448A 433\n556JJ 533\nT3TKT 161\n6JT43 265\nT5TTT 393\nK7KK4 386\n53J6A 845\nK7777 756\n63399 685\nJ85AQ 87\n88585 906\nQJTQQ 270\nTKKTK 131\n3J3JQ 797\nK7Q34 836\nK4499 362\n53555 651\n9888T 435\n2J299 557\n8J999 964\n96TQ2 293\n8KTJ8 137\nKA6Q7 442\n2J6KQ 900\n446A4 294\nAJAA3 671\nQ427T 116\n9JQ99 398\n59929 392\n822J8 192\nQ92Q7 420\nKKJK6 171\nTAJ37 487\n8A2J5 10\n22TTT 220\n33623 111\n7Q7AJ 491\nA3JJ2 650\nJ4J23 299\n396KA 896\nK3K3J 486\nQKKKK 20\n9A2AJ 713\n746K4 56\n96996 885\nJTK77 312\nQ8888 826\n3T4AJ 771\n97977 219\n9354K 788\n5Q5KK 455\nT3734 325\nTK26A 156\n7AAAA 924\nKJ622 183\n5QTAQ 642\nAAAAQ 488\nTTTJT 953\nQ2222 145\n4A9TJ 245\nTT3JK 588\nJ5555 284\n94AQT 193\n97325 196\n74A8J 37\n24AAA 847\n22A32 381\n4KJ59 542\nT6QK4 673\n77877 922\nQ2Q66 49\n66688 792\n9T9T9 918\nJ8878 552\n6A63A 221\nAA559 780\n9T47Q 300\nAKKA4 501\n33QQ4 64\n6K375 965\nT7Q43 82\n3689Q 569\nA6A3A 462\nT5Q3J 689\n49Q99 895\nKA262 490\n87497 13\n4449A 973\n92453 430\n5QA5A 149\n69666 247\nK6AJA 992\nA4444 729\n44494 298\nJ5993 927\n26662 555\n4J6A5 613\nKK77K 855\n73222 315\n2A2J2 719\nK7KT7 43\n98T64 998\n23282 528\n449T7 130\n6QK24 424\nAAAA3 179\nJA42K 53\n6A6KK 211\nJ55JJ 742\nJ5T93 304\nTQA23 358\n8J257 240\n39393 522\n68A38 450\nQQAK8 970\nJ77QT 341\nT68AA 242\n99933 310\n425KA 69\n99A9J 535\nJ35JK 113\n4A37T 360\n63333 791\n78J5T 34\n46T46 883\nT8JQ3 50\nKKKK5 519\nT29J8 640\nKKK88 646\n3A32A 228\n7A77T 57\n2QQ2J 971\n7Q777 438\n5J545 21\nT4AAJ 432\nQQJAA 570\nKJ79J 853\nT3JKA 359\n676K6 724\n4TATT 931\nJKKT2 629\nJ338T 469\n9939J 743\n85A93 241\n945TA 363\n5JK5A 493\nQ5JT5 815\n76378 12\nT3T53 157\nJAA24 732\n55757 200\nK727J 115\n259KK 510\n2J739 786\n288AA 598\nQJ233 100\nQQ56Q 25\n6333J 702\n86797 839\n47T77 361\nK4823 3\n6K446 54\n94J75 543\nQQQQA 980\n55J66 923\nAQT55 645\n55593 314\nJ6776 379\nJ23T6 102\n7K7K7 911\nJQ5A3 227\nKK66K 279\nAJJAQ 396\nJA252 39\n555KK 714\nKJ56K 637\nKJ64K 928\n6Q66Q 85\nTJTT2 273\nK634J 854\n66662 576\n6Q6J6 212\nKAAT2 696\n76663 793\nT3AQ3 632\n2J994 966\nTTTJA 63\n4QJQ4 165\nAAAJ8 331\nTT666 158\n2KKA2 453\n54444 563\n7KK88 675\n47777 832\n6JJQ9 475\n55275 876\n63489 794\n7K7Q3 208\n6J585 820\n3Q89T 524\n92AK2 6\n66JK9 655\n7J4KQ 139\n666A5 711\n4JTK9 117\n88AJA 368\n34T5T 602\n9933J 278\n97Q63 448\nA5555 892\nQJ7A2 726\n5KKJ2 917\nA5238 108\n33343 663\nK33T3 285\n6Q655 937\n38383 880\n47834 252\nQJA49 692\nA6926 547\n48Q8Q 288\n72J86 107\n5T5T9 449\n2JK25 305\n667T6 136\n7JJ88 429\nQ5KQK 394\nATAAA 952\n66949 296\nTT222 933\nAQ4AK 948\nKQJJ7 209\n3465K 709\n74775 126\n8TJ6T 402\n82Q3J 816\nQ7855 354\nJJ3KK 9\n22223 351\n2K7TA 831\n555AA 984\n83539 168\n444T4 140\n4A8Q4 693\nJA8AK 890\n29QTQ 308\nKJKKJ 389\nA86AK 649\nJ898T 14\nA6AAA 352\n2J222 176\nA4669 958\n333K8 635\nT4269 844\nJ4Q54 603\n44AAA 349\nQT575 413\nAA2J2 859\n7T395 648\nK3Q68 251\n7T2T2 790\nQQQ33 446\n428A4 879\n36J2Q 434\n69955 991\n7J5A4 812\nQQ445 789\n7A69A 93\n4K979 537\nK6K73 518\n45555 79\n45A6A 833\nKAAA5 307\n48887 80\nKK2KK 38\nATJJ5 11\n5K325 388\n42TJA 353\n66J3T 611\nA758A 728\nTJT77 644\n5JQQ2 898\n9KQT2 404\nK42A2 303\nQ6QTA 124\n58Q5J 670\nK6JTJ 409\nT3333 731\nJ73JK 463\n4A288 452\n79AAJ 41\n2K7T7 15\n7AAA7 888\n44J94 286\n8938K 328\nTKKKA 633\n22JT7 577\nQQQQ7 683\n66665 89\nT72J4 955\nJ66J6 877\n99433 509\n9K92J 776\nJQ7Q2 78\nA6T2Q 122\n69Q6A 153\nJ5JQ5 218\n25KAJ 416\n7A47A 513\n62T26 1000\n96449 281\nKKTKK 977\n35642 921\n9K4K9 778\nJ4244 993\nJJAAA 573\n7AA27 626\nA685T 376\n4JA9A 957\nT886T 267\n737J7 538\n999KK 579\n75KK7 76\nQ737Q 809\nQ3393 901\n2734Q 754\nJ2T9K 216\n89859 695\n63343 35\n7JK7K 700\n8828A 765\n29AT5 615\nQ838Q 410\nA3235 622\nTKJKQ 810\n45454 224\n77737 869\nJA9T9 333\n2772K 276\n5535A 350\nTT5QT 821\n46JKJ 986\n9T8KK 125\n6JAJ7 595\n74647 464\n499A4 612\n4KT7A 22\nJ3233 891\n44555 959\n8KQ8A 271\n33443 182\n37373 27\n88828 997\nQ2Q22 189\n3635A 373\nT66TT 717\nA4469 207\n2T2KT 749\n4244Q 90\n9234T 348\n33TJ3 289\nQAA63 562\n2A2A2 199\nJ6JK7 929\nTT99J 234\nT3JQ2 798\n65Q66 154\nJTTJT 975\n22699 705\nQ6Q6Q 618\n99929 811\n389J6 920\n585Q5 852\nA2255 477\nTJTJJ 30\nK5AK5 772\n2QQ3Q 323\n6888J 454\n7J8K3 609\nJ463J 572\n32323 223\n686J6 534\nQ25J4 47\n29996 882\nTTQ8Q 944\n42265 480\n2JQ96 287\nQQ868 517\nAK447 994\n8J3Q3 897\n42QK5 489\nA8A88 384\n3AT3A 941\n44T8T 88\nQQ8QQ 787\n488TJ 996\n6KK66 313\n2J262 764\nK6KK5 275\nK572T 893\n7T7QQ 215\n76965 773\n59575 800\n586QJ 309\nQQQQ4 721\n9A9A4 40\n8JJJJ 128\nQATA6 162\nK6TAQ 415\n95JJ8 72\n9TQ97 319\n2AK22 61\nT2TJ2 465\nT5274 195\nQ4587 266\nJ97QT 441\n52384 17\nQ7J77 414\nQQQ6Q 903\n4444J 532\nQQKQQ 904\nQJ467 16\n25525 785\nATA8A 205\n65542 261\n9QKKK 512\n48844 231\nJTJAK 99\nQJ8AT 571\n68A88 878\n5353J 94\n2Q33Q 311\nKJJ69 946\nJ83A8 634\nQQT6Q 884\nKK74J 374\n77474 781\n38888 527\n29457 329\n52452 73\n2K776 256\nQJQQQ 268\nJ24K6 913\n42K88 861\n29QQQ 733\n4J546 806\nK2K98 841\nQ4644 697\n44K94 834\nQAAQT 830\nJ666T 750\n3T335 437\n9594T 694\n8QQQ3 682\n88887 269\nJ3KKQ 641\n99993 551\n2K437 699\n75775 710\n5963J 870\nTTKT5 582\n2Q82A 439\nKJ4Q9 301\nQ3558 152\n32333 999\nT77TT 599\n3T6JT 627\n2J3T5 560\n25442 86\n8888K 257\n5QJ45 96\nQQ7AA 658\n88JJ8 863\n98948 202\n2QJ3J 803\nJ6488 66\n59559 160\nJJKK7 484\n7J223 254\n68889 364\n555J9 822\nKKAAA 525\nK7557 5\n3Q33A 814\n2384J 587\nKK8Q2 777\n494K2 426\n2TJ22 507\nQQQ2Q 698\n7229T 954\nJJ757 142\n2882A 530\nKKTQT 539\n72222 621\n99A5A 736\n22887 936\n3377Q 779\n6A6J6 740\nA7AAJ 840\n44JJ4 2\nQQTQT 51\n6666A 669\nT9279 908\nK9J7Q 856\n2AAAJ 748\nJ3K25 947\nTT65T 377\nKK2K6 752\nK7KKK 150\n9J6J8 120\n72AK6 656\nTT6TT 757\nQQ9TT 412\n3AA3J 365\n84477 783\nKK4K2 591\nAK79J 654\nJ77J7 951\nQ7664 606\n7QQ59 59\nJ2725 795\n96989 417\n7TT64 387\n47JJK 91\n228AA 201\nAJJ63 902\nA5AKJ 123\n37Q33 741\n8J358 483\nQ88QQ 508\n43A33 340\nQ9QQQ 516\n232JT 148\n666J6 159\n38363 97\n42285 322\n4Q944 233\nTT4TT 342\nK8TQA 566\nKJKK2 213\nQJQJJ 339\n5K932 559\n86888 494\n2QQJQ 70\n7A772 167\n5659T 881\nT43A6 186\nA2Q22 739\n55K95 679\n2T5QQ 262\n47797 419\n52522 357\n2J734 597\nAA3Q3 678\n3Q9A3 567\nKJAAJ 813\nK8794 495\n7JT77 198\n4KT2A 564\n55QQ5 497\n5K558 272\nT2A25 318\nK58Q2 825\n7KKJK 628\n6A6A7 676\nJ7T96 706\nA4A96 625\n6KTQ7 372\nJAAJ3 916\n99699 106\nQ7Q77 468\n8Q88J 545\n2A2J8 983\n777A7 246\n329TA 546\n38388 48\nKKKQQ 316\nKKKK8 460\n33K8Q 77\nA9A29 691\n8J859 237\nA9599 540\n23J67 390\nJT43J 668\n8J8JQ 338\nJQQQ8 456\nK9KKK 129\n8KJ8K 67\n7555Q 169\n9QJQ9 459\n7A8Q9 718\n7J765 760\n94744 173\nAA35A 264\nQKQQ5 423\nA6JJ9 819\n4AA44 848\n88385 180\nA4T7Q 259\n7J757 584\nA96T3 474\nJJJJJ 42\n9K372 604\nJ333Q 118\nJ7A37 451\nQ4447 515\nQQ77Q 274\n73333 553\n6747J 521\nJ56K2 405\nKKJJQ 575\nQT86A 592\n75A73 476\n29925 295\nA778A 823\nAAAAJ 580\nTT99T 636\nQQ3JQ 235\nA8778 244\nK6638 784\n87Q5A 574\n99499 46\nAK7Q7 172\nKKK33 443\n38J88 345\n7976K 58\n59669 558\n6659J 217\n7557J 143\n5549K 306\nJ3982 639\nJ249A 677\n55955 418\nQQQQT 7\n77A47 770\n66K4K 104\nQ9T5A 976\n2673Q 230\nQ75TK 26\nJKJ9K 225\n9TAAT 188\n55JQA 119\n9Q9Q9 385\n24K42 260\nT9222 873\n99989 45\n88448 544\nT9784 808\n43454 846\nTA674 174\n3T3AT 687\n38929 561\n22QQK 912\nKQJQQ 978\n23223 481\nJ7772 835\n3999Q 703\n74K44 280\n4K444 138\nKJ53K 132",
    "output": "str",
    "x": 280,
    "y": 220,
    "wires": [["4816c943cdd39e1a"]]
  }
]
